
    :root {
        --bg: #ffffff;

        --global-font: 'Outfit';
    }

.name{
    font-weight: 400;
}

.menu {
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 100px;
    font-family: "Outfit";
    align-items: center;
}

.hero-image img {
    height: 30px;
    width: 30px;
}
.shop img{
    height: 30px;
    width: 30px;
}
.all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.burger img{
    height: 30px;
    width: 30px;
}
.burger {
    margin-right: 30px;
}

.all-text {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
    margin-top: 250px;
    font-family: "Outfit";
    width: 500px;
}

.all-text h3 {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}

.all-text h2 {
    font-size: 55px;
    font-weight: 400;
}

.links {
    margin: 30px;
}
.COLLECTION {
    margin-right:  10px;
    padding: 10px 15px;
    background-color: black;
    color:white;
    
}

.learn {
    margin-left:10px;
    padding: 10px 15px;
    background-color: white;
    color:black;
    border: 1px solid #333
}
.fashion {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 100px;
    font-family: "Outfit";

}
.fashion-text {
    display:grid;
    justify-content: center;
}
.fashion-title {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: 400;
}
.fashion-subtitle {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}
